body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

body section a,
a {
  color: aquamarine;
  font-size: 16px;

  /* display: flex; */
  justify-content: center;
}

video {
  display: block;
  margin: auto;
}

h3 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
  color: gray;
  font-size: 20px;
}
/* justify-content
align-items
flex-direction
order
align-self
flex-wrap
flex-flow
align-content */
